@{
    ViewData["Title"] = "Admin Area";
}
 
<table class="table match-center">
    <tbody id="listMatches">
    </tbody>
</table>
 
@section Scripts{
    <script src="~/js/admin.js"></script>
}

@section Scripts{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/admin.js"></script>
}
