@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

@{
    ViewData["Title"] = "MATCH CENTER LIVE";
}
 
<table class="table match-center">
    <tbody id="listMatches">
    </tbody>
</table>
 
@section Scripts{  
    <script src="~/js/home.js"></script>
}

@section Scripts{ 
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/home.js"></script>
}